@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Grenze+Gotisch:wght@100..900&family=Jacques+Francois&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nanum+Myeongjo&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=UnifrakturMaguntia&display=swap');

*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
}


:root {
    --fundo-color: #0c090e;
    --fundo2-color: #1F1724;
    --cinza-color: #2A3143;
    --1-color: #826032;
    --2-color: #CA954F;
    --3-color: #E3B373;
    --4-color: #f7e7d2;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
     background:url('../img/fundo.jpg') no-repeat;
    background-size:cover;
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 6px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: zem;
    color: #ffebd1;
    user-select: none;
    text-shadow: 0 0 10px #f4de7b, 0 0 20px #f4de7b, 0 0 30px #f4de7b;
}

.span {
 color: var(--4-color);

}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content:'';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fffefe;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);

}

.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #f4c86b;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #f4c86b;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnLogin-popup:hover {
    background: #f4c86b;
    color: #ffffff;
    box-shadow: 0 0 1rem #f4c86b;
}

.wrapper {
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent0;
    border: 2px solid rgb(245, 212, 142);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px hwb(41 32% 8%);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;
}

.wrapper.active-popup{
    transform: scale(1);
}

.wrapper.active{
    height: 520px;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper.form-box.login {
    
    transition: transform .18 ease;
   transform: translateX(0);

}

.wrapper.active .form-box.login{
    transition: none;
    transform: translateX( -400px);

}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX( 400px);
}

.wrapper.active .form-box.register {
    transition: transform .18 ease;
    transform: translateX(0);
 
 } 

.wrapper .icon-close {

    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #ebba52;
    font-size: 2em;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius:20px;
    cursor: pointer;
    z-index: 1;
}

.form-box h2{
font-size:2em;
color: #ffffff;
text-align: center;
}

.input-box {

    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #ffffff;
    margin:  30px 0;
}

.input-box label {
    position:  absolute;
    top: 0;
    left: 0px;
    transform: translateY(0%);
    font-size: 1em;
    color: #ffffff;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;

}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #ffffff;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #C78650;
    line-height: 57px;
}

.login-forgot {
    font-size: .9em;
    color: #ffffff;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.login-forgot a{
    color: #E3B373;
    text-decoration: none;
    font-weight: 600;
}

.remember-forgot {
    color: #ffffff; 
    margin-right: 3px;
}

.remeber-forgot a {
    color: #ffffff;
    text-decoration:dotted;
}

.register-link p{
    font-size: .9em;
    color: #ffffff;
    font-weight: 500;
    margin: 25px 0 10px;
    text-align: center;
}

.remeber-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background:#ebba52;
    border: none;
    outline: none;
    border-radius:  6px;
    cursor: pointer;
    font-size: 1em;
    color: #ffffff;
    font-weight: 500;
}

.login-register {
    font-size: .9em;
    color: #ffffff;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: #E3B373;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}

.register-link p a {
    color: #E3B373;
    text-decoration: none;
    font-weight: 600;
}